@import url(../profile/__info/profile__info.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__pic-edit/profile__pic-edit.css);
@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__profession/profile__profession.css);
@import url(../profile/__photo/profile__photo.css);
.profile{
  max-width: 882px;
  display: flex;
  margin: 0px auto 51px;
}
@media screen and (min-width: 768px) and (max-width: 930px){
  .profile{
    width: 80%;
  }
}
@media screen and (min-width: 420px) and (max-width: 767px){
  .profile{
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 419px){
  .profile{
  max-width: 282px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 36px;
  }
}

