.header__logo{
  width: 143px;
  height: 33px;
  margin-bottom: 40.6px;
  margin-left: 0px;
}
@media screen and (min-width: 420px) and (max-width: 767px){
  .header__logo{
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 320px) and (max-width: 419px){
  .header__logo{
    width: 104px;
    height: 25px;
    margin-bottom: 32px;
    margin-left: 27px;
  }
}
