.profile__add-button{
  width: 150px;
  margin-top: 75px;
  margin-left: 246px;
  padding: 0;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: black;
  background-image: url(../../../image/plus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  }
  .profile__add-button:hover{
    cursor: pointer;
    opacity: 0.5;
  }
  @media screen and (min-width: 768px) and (max-width: 930px){
    .profile__add-button{
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 420px) and (max-width: 767px){
    .profile__add-button{
    width: 294px;
    margin-left: 0px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 419px){
    .profile__add-button{
    width: 282px;
    margin-left: 0;
    margin-top: 0px;
    }
  }

