.popup__submit{
  width: 358px;
  height: 50.15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #000000;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  margin: 0px 36px 36px 36px;
}
@media screen and (max-width: 510px){
  .popup__submit{
  max-width: 300px;
  margin: 0px auto 7px;
  }
}
